<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chatrooms</title>
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/chats.css">
  </head>
  <body>
    <header>
      <h1>Chat Rooms</h1>
    </header>
    <main>
      <h2><%= roomName %></h2>
      <div id="message-list">
        <ul id="message-container">
        <%
        if (!!messages) {
          for (let message of messages) {
            let {createdAt, author, text} = message;
            let username = author.username;
            const prettyDec = num => num > 9 ? ""+num : "0"+num ;
            let year = createdAt.getFullYear();
            let month = prettyDec(createdAt.getMonth());
            let day = prettyDec(createdAt.getDate());
            let hours = prettyDec(createdAt.getHours());
            let minutes = prettyDec(createdAt.getMinutes());
            let seconds = prettyDec(createdAt.getSeconds());
        %>
          <li>
            <span class="msg-date"><%= `${year}-${month}-${day} ${hours}:${minutes}:${seconds}` %></span>
            <span class="msg-author"><%= username.length < 13 ? username :(username.slice(0, 13)+"...") %></span>
            <span class="msg-text"><%= text %></span>
          </li>
        <% } } %>
      </ul>
      </div>
      <div id="message-panel">
        <form action="/chatrooms/<%= roomId %>" method="PUT">
          <input type="hidden" name="chatID" value="<%= roomId %>" id="chatID">
          <input type="hidden" name="userID" value="<%= userId %>" id="userID">
          <input type="hidden" name="author" value="<%= userName %>">
          <textarea name="text" placeholder="Write your message here..."
          rows="3" cols="40" required autofocus spellcheck="false"></textarea>
          <input type="submit" value="Send">
        </form>
        <p><a class="action-link" href="/">Back to main</a></p>
      </div>
    </main>
  <script src="/js/chatroom.js" charset="utf-8"></script>
  </body>
</html>
